<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Impulse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static "pure/pure-release-1.0.0/pure-min.css" %}">
    <link rel="stylesheet" href="{% static "pure/pure-release-1.0.0/grids-responsive-min.css" %}">
    <link rel="stylesheet" href="{% static "pure/css/layouts/blog.css" %}">

</head>
<body>
    
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-1-4">
            <div class="header">
                <h1 class="brand-title">Impulse Blog</h1>
                <h2 class="brand-tagline">Powered by Pure</h2>
    
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="button-success pure-button" href="/">主页</a>
                        </li>                       
                        <li class="nav-item">
                            <a class="button-success pure-button" href="{% url "archive" %}">归档</a>
                        </li>
                        <li class="nav-item">
                            <a class="button-error pure-button" href="/">专题</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="http://purecss.io">Pure</a>
                        </li>
                        <li class="nav-item">
                            <a class="pure-button" href="https://docs.djangoproject.com/en/2.1/">Django Doc</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="content pure-u-l pure-u-md-3-4">
            <div>
                {% block content %}
                
                {% endblock content %}
            </div>
            <div class="footer">
                <form class="pure-form" action="/search/" method="get">
                    <input type="text" class="pure-input-rounded" name="search" placeholder="Type word(s) of the title...">
                    <button type="submit" class="pure-button">Search</button>
                </form>
                <div class="pure-menu, pure-menu-horizontal">
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="http://127.0.0.1:8000/about/" class="pure-menu-heading pure-menu-link">About This Site</a></li>
                        <li class="pure-menu-item"><a href="http://127.0.0.1:8000/admin/">Site Admin</a></li>
                        <li class="pure-menu-item"><a href="https://github.com/FremanZhang/" class="pure-menu-link">Github</a></li>
                    </ul>
                </div>
                <div class="pure-menu pure-menu-horizontal">
                    <a href="#" class="pure-menu-heading pure-menu-link">AUTHOR</a>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">News</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Support</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</body>
</html>