<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog test template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <style>
        body {
            background-color: #393939;
        }
        em {
            color: #cccccc;
        }
    </style>
</head>
<body>
    <h1 style="color: #cccccc">In the progress of reading ThreeBody...</h1>
    <p style="color: #cc3300"><strong>{{ current_time }}</strong></p><br>
    <img src="{% static "audio-wave.png" %}" alt="My image"/>
</body>
</html>